'use strict'
const Schema = use('Schema')

class {{ className }} extends Schema{
    up () {
        this.alter('{{ tableName }}', (table) => {

        })
    }

    down(){
        this.alter('{{ tableName }}', (table) => {

        })
    }
}

module.exports = {{ className }}
