@layout('shared.layouts.master')

@section('styles')
  {{ style('dist/app.css') }}
@endsection

@section('content')
  <div id="root"></div>
@endsection

@section('scripts')
  {{script('foobar/translation.js')}}
  {{script('foobar/config.js')}}
  {{script('dist/app.js')}}
@endsection
